$wbi-yellow: #ffcc00;

//ffcc00 orginal
//fff200 official

body {
  background-color: $wbi-yellow;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

a {
  color: #000000;

  &:focus,
  &:hover {
    color: #4d4747;
  }
}

.carousel-item .square {
	width:500px;
	height:250;
}

.navbar {
	background-color: #333333;
	padding:0px;
	margin:0px;
}

.nav-link {
	color: #dddddd;
	margin:0 30px 0 30px ;
	font-size:20px;
  &:focus,
  &:hover {
    color: #ffffff;
  }

}

.logo {
	width: 100px;
	margin: 10px 0 10px 0;
}

.navbar-collapse {
	justify-content: flex-end;
}

.carousel-caption {
	height:150px;
	width:500px;
	background: rgba(10, 10, 10, 0.73);
    left: 1.616%;
	padding:15px 20px 0 20px;
	text-align:left;
	font-size:10px;

  h1 {
           font-size:27px;
  }
	a {
	   font-size:18px;
	}

}

.lead {
	line-height:1.8;
	padding:30px;
}
.thirdimg{
	height:180px;
	padding:22px 35px 35px 35px;
}
.firstimg{
        height :50px;
        padding:50px;
}
.w-100{
	height: 50;
}
svg {
	font-size: 24px;
}
.joinRoboticsHeader{
  font-size:100px;
}

.grid-container {
  display: grid;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.joinRoboticsButton {
  padding: 125px;
  background: rgba(150, 120, 120, 1);
  &:hover {
    color: #ffffff;
  }
  border: 10px;
  border-style:solid;
  border-color:#FF0000;
}
