<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <script src="https://kit.fontawesome.com/78be1d5613.js" crossorigin="anonymous"></script>
  <body>
    <%= yield %>

<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <a href="/index.html">
        <img class="logo" src="images/461Evergreen.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mb-2 ml-auto mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/joinrobotics.html">Join robotics</a>
          </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/aboutfirst.html">About Team 461</a>
          </li>
	<li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/community.html">Community</a>
          </li>
	<li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sponsors.html">Sponsors</a>
          </li>
	<li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contacts.html">Contacts</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>
  </body>
</html>
