
<main>

/*images in carousel ARE 3:1
<!-- Carousel Code -->

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
	 <img class="w-100" src="images/fatpig.jpeg">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Don't mess with these animals!</h1>
		<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
	    <img  class="w-100" src="images/pigpix.jpeg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="images/WILDPP.jpeg">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest o😮‍💨f the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-4">
      <div class="col-lg-4">
	<div style="font-size:24px;">
      <i class="fas fa-robot fa-10x"></i>
	</div>
        <h2>Looking to Join Robotics?</h2>
        <p>Learn More and Sign Up on This Website!</p>
        <p><a class="btn btn-secondary" href="/joinrobotics.html">Learn more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div style="font-size:24px;">
	<i class="fab fa-instagram fa-10x"></i>
	</div>
        <h2>Follow Us On Social Media</h2>
        <p>Follow Our Instagram, Facebook, and Twitter</p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div style="font-size:24px;">
	<i class="fas fa-search-dollar fa-10x"></i>
	</div>
        <h2>Donate</h2>
        <p>please.</p>
        <p><a class="btn btn-secondary" href="https://donate.boilerinvasion.org">Donate &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who Are We?</h2>
        <p class="lead"> Westside Boiler Invasion is the
 FIRST© robotics team of West
Lafayette Jr./Sr. High School. Our
 members work throughout the
 year by building robots,
programming, and holding
outreach events in the community
 to promote FIRST® robotics and
STEAM education. Our FIRST
robotics team provides a place
for students to develop skills
 for future careers in STEAM. <small>someone please write more</small></p>
        <p><a class="btn btn-secondary" href="/aboutfirst.html">Learn more &raquo;</a></p>

      </div>
      <div class="col-md-5">
        <img class="w-100" src="images/people.jpeg">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">What is First?</h2>
        <p class="lead"> First Robotics Competition is a sport that challenges the minds of high school students through robotics challenges solved by engineering and research skills and sets the foundation for success in the fields of engineering and research for future . Each year, every robotics team constructs a robot that solves the challenges set out by FIRST and competes in regional competitions, state championship, and the World Championship. 
        </p>
        <p class="lead"> The FIRST® Robotics Competition is, according
to FIRST®, "a unique varsity sport of the mind
designed to help high-school-aged young people
discover how interesting and rewarding the life
of engineers and researchers can be." Every
year, every robotics team from around the
United States, Canada, and other countries
 builds a robot to play a predetermined game
using a standard "kit of parts" (issued to
 registered teams each January), a limited set of
 materials, and a little ingenuity and elbow
grease. With this robot, the team travels to
Regional Events, competing against one another
 in a fun, friendly atmosphere. Based on their
performance at these competitions, teams may
qualify to attend the Championship Event.</p>

      <p><a class="btn btn-secondary" href="/aboutfirst.html">Learn more &raquo;</a></p>

      </div>
      <div class="col-md-5 order-md-1">
        <img class="w-100" src="images/first 4.jpeg">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Outreach</h2>
        <p class="lead">Team 461 intends to spread STEM education to every aspiring student. Every summer, we offer frequent STEM workshops such as Python, Java, CAD, and Lego robotics development taught by student volunteers specializing in specific areas. Furthermore, we promote our robotics team regularly within our community in order to further our presence.</p>
        <p class="lead">we do it.</p>
        <p><a class="btn btn-secondary" href="/community.html">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img class="w-100" src="images/outrach.jpg">
      </div>
    </div>

 <hr class="featurette-divider">

 <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Sponsors</h2>
        <p class="lead">Team 461 attracts local business and established companies for potential sponsorships and distributes the funds to supply different endeavors that contribute towards the spread of STEM education. We would love to include New Sponsors( link to sponsor page).
        .</p>
        <p class="lead">we have em.</p>
        <p><a class="btn btn-secondary" href="/sponsors.html">Learn more &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="w-100" src="images/money2.jpeg">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2022 Westside Robotics, Inc. &middot;
  </footer>
</main>
