<main>
<br>
<br>
<br>

	<h1 class = "joinRoboticsHeader">Why Should You Join?</h1>
	<h4> Looking to become involved with robotics? Learn the numerous benefits of our program!</h4>

	<div class = "grid-container">

		<div class="grid-item1 joinRoboticsButton"><h2>Stimulating education</h2></div>
		<div class="grid-item2 joinRoboticsButton"><h2>Critical thinking and problem solving</h2></div>
		<div class="grid-item3 joinRoboticsButton"><h2>A sense of community</h2></div>
		<div class="grid-item4 joinRoboticsButton"><h2>Scholarship opportunities</h2></div>

	</div>
</main>
